
.single, .full-height-1  {
	margin-top: 130px ;
	margin-bottom: 50px;

}

.info {
	background-color:#eaeff5;
	color:#888d9b;
	padding: 20px;
	font-size: 15px;
	text-transform: uppercase;
	margin-bottom: 10px;
}